* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* REUSABLE */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */

#body-header {
    background-color: rgba(87, 187, 184, 0.7);
    background-size: cover;
    height: 20vh;
}

.logo {
    width: 150px;
    height: 20vh;
    width: 25%;
    float: left;
}

.delete-food {
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-right: 100px;
    color: black;
    font-size: 312.5%;
    width: 6%;
    float: right;
    transition: all .3s;
}

.complete-modify {
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    margin-right: 70px;
    color: black;
    font-size: 312.5%;
    width: 6%;
    float: right;
    transition: all .3s;
}

.delete-food:hover,
.delete-food:active,
.complete-modify:hover,
.complete-modify:active {
    color: dimgray;
}

.icon-name {
    font-size: 20px;
    opacity: 0;
    transition: .3s;
}

.delete-food:hover .icon-name,
.complete-modify:hover .icon-name {
    opacity: 1;
    color: #ffffff;
}


/* Product */

.product-infor {
    margin-top: 50px;
    margin-bottom: 50px;
}

.left-container {
    margin-top: 10px;
    float: left;
}

.right-container {
    margin-top: -100px;
    margin-right: 40px;
    float: right;
}

.product-left-label {
    color: black;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 125%;
    font-weight: 500;
}

.product-right-label {
    color: black;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 125%;
    font-weight: 500;
}

.food-picture::-webkit-file-upload-button {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.8);
    font-size: 150%;
}

.food-picture {
    color: red;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 30px;
}

.food-name,
.food-price,
.food-ammount,
.food-ID {
    color: black;
    cursor: text;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 125%;
    font-weight: 500;
    text-align: center;
}

.food-decription {
    color: black;
    cursor: text;
    margin-top: 15px;
    margin-left: 50px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}


/* Footer */

.footer {
    color: #ffffff;
    height: 20vh;
}