* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* REUSABLE */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */

#body-header {
    background-color: rgba(87, 187, 184, 0.7);
    background-size: cover;
    height: 20vh;
}

.logo {
    width: 150px;
    height: 17vh;
    width: 25%;
    float: left;
}

.search-container {
    margin-top: 40px;
    margin-left: 100px;
    width: 30%;
    float: left;
}

.search-box {
    padding: 7px;
}

.search-icon {
    color: black;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: all .3s;
}


/* Product */

.manager-menu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.product {
    border: 1px solid #eee;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 27%;
    height: 350px;
    position: relative;
    text-align: center;
    float: left;
}

.select {
    width: 88%;
    height: 255px;
    margin-top: 27px;
    margin-bottom: 10px;
    transition: all .5s;
}

.modify-food {
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 52%;
    color: #c2e1fd;
    cursor: pointer;
    transform: translate(-65%, -200%);
    opacity: 0;
    transition: all .5s;
}

.delete-food {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5px;
    color: #c2e1fd;
    cursor: pointer;
    transform: translate(-65%, 100%);
    opacity: 0;
    transition: all .5s;
}

.product:hover img,
.product:active img {
    filter: brightness(60%) blur(2px);
}

.product:hover .modify-food,
.product:active .modify-food,
.product:hover .delete-food,
.product:active .delete-food {
    transform: translate(-65%, -50%);
    opacity: 1;
}

.modify-food:hover .icon-name,
.modify-food:active .icon-name,
.delete-food:hover .icon-name,
.delete-food:active .icon-name {
    color: darkturquoise;
}

.food-name {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.add-new-product {
    margin-bottom: 30px;
    margin-left: 60px;
    width: 27%;
    height: 350px;
    text-align: center;
    float: left;
}

.add-new-food {
    text-decoration: none;
    color: black;
    font-size: 1000%;
    width: 6%;
    transition: all .3s;
}

#anf-icon {
    margin-top: 60px;
}

.anf-icon-name {
    font-size: 25px;
}

.add-new-food:hover,
.add-new-food:active {
    color: dimgray;
}


/* Confirm Delete Modal */

.confirm-delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    display: none;
    justify-content: center;
}

#confirm-delete-container {
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    margin: 500px;
    margin-top: 300px;
    position: relative;
    overflow: auto;
}

.confirm-delete-content {
    color: black;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 125%;
    font-weight: 500;
    text-align: center;
}

.food-ID {
    display: none;
}

.confirm-delete-btn-container {
    text-align: center;
    margin-bottom: 30px;
}

.confirm-delete-btn {
    color: white;
    cursor: pointer;
    background-color: #e67e22;
    padding: 10px 0px;
    border-radius: 20px;
    border: none;
    margin-right: 20px;
    width: 130px;
    font-size: 100%;
    text-align: center;
    transition: all .3s;
}

.cancle-delete-btn {
    color: white;
    cursor: pointer;
    background-color: #e67e22;
    padding: 10px 0px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    width: 130px;
    font-size: 100%;
    text-align: center;
    transition: all .3s;
}

.confirm-delete-btn:hover,
.confirm-delete-btn:active,
.cancle-delete-btn:hover,
.cancle-delete-btn:active {
    background-color: #d35400;
}


/* Footer */

.footer {
    color: #ffffff;
    height: 20vh;
}