* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* REUSABLE */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Body */

#confirm-modify-container {
    border: 1px solid black;
    border-radius: 30px;
    margin: 500px;
    margin-top: 300px;
}

.confirm-modify-content {
    color: black;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 125%;
    font-weight: 500;
    text-align: center;
}

.confirm-modify-btn {
    text-align: center;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 7px 0px;
    border-radius: 20px;
    margin: 0 10px;
    margin-bottom: 10px;
    width: 130px;
    text-align: center;
    transition: all .3s;
    display: inline-block;
}

.btn:hover,
.btn:active {
    background-color: #d35400;
}